<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yey.read" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".common.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".loading.controller.LoadingActivity"
            android:label="@string/title_activity_loading"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loading.controller.GuideActivity"
            android:label="@string/title_activity_guide" >
        </activity>
        <activity
            android:name=".login.controller.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".register.controller.RegisterFirstStepActivity"
            android:label="@string/title_activity_first_step" >
        </activity>
        <activity
            android:name=".register.controller.RegisterSecondStepActivity"
            android:label="@string/title_activity_second_step" >
        </activity>
        <activity
            android:name=".register.controller.RegisterThirdStepActivity"
            android:label="@string/title_activity_third_step" >
        </activity>
        <activity
            android:name=".register.controller.RegisterFourthStepActivity"
            android:label="@string/title_activity_fourth_step" >
        </activity>
        <activity
            android:name=".register.controller.RegisterFifthStepActivity"
            android:label="@string/title_activity_fifth_step" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".home.activity.RecommendBookActivity"
            android:label="@string/title_activity_recommend_book" >
        </activity>
        <activity
            android:name=".home.activity.BookDetailActivity"
            android:label="@string/title_activity_book_detail" >
        </activity>
        <activity
            android:name=".me.activity.MeInfoActivity"
            android:label="@string/title_activity_me_info" >
        </activity>
        <activity
            android:name=".me.activity.VIPCenterActivity"
            android:label="@string/title_activity_vipcenter" >
        </activity>
        <activity
            android:name=".me.activity.AccountSafeActivity"
            android:label="@string/title_activity_account_safe" >
        </activity>
        <activity
            android:name=".me.activity.UpdatePasswordActivity"
            android:label="@string/title_activity_update_password" >
        </activity>
        <activity
            android:name=".me.activity.BindPhoneNumActivity"
            android:label="@string/title_activity_bind_phone_num" >
        </activity>
        <activity
            android:name=".me.activity.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name=".me.activity.MeShareActivity"
            android:label="@string/title_activity_me_share" >
        </activity>
        <activity
            android:name=".me.activity.MeOpinionActivity"
            android:label="@string/title_activity_me_opinion" >
        </activity>
        <activity
            android:name=".me.activity.GalleryActivity"
            android:label="@string/title_activity_gallery" >
        </activity>
    </application>

</manifest>
